/* Header starts */

.header {
    margin-bottom: -132px;
    background: transparent;
}

.header__content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.header__logo-title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.header__logo-subtitle {
    padding-left: 4px;
    font-family: 'Arial', 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.header__nav {
    margin-right: 2px;
    margin-bottom: 4px;
}


.header__nav-items {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__link {
    font-family: 'Arial', 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #CDCDCD;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav__link_active {
    color: #FAFAFA;
    padding-bottom: 3px;
    border-bottom: 3px solid #F1CDB3;
}

.nav__link:hover, .nav__link:active, .nav__link:visited {
    line-height: 200%;
}

/* Header ends */

/* Start screen starts */
.start-screen {
    padding-top: 320px;
    padding-bottom: 243px;
    background: url(../../assets/images/start-screen-puppy.png),
        url(../../assets/images/start-screen-gradient-background.png),
        radial-gradient(00% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) ,
        #211F20;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: calc(50% + 251px) bottom, center, center, center;

    color: #FFFFFF;
}

.start-screen__content {
    display: inline-block;
    max-width: 460px;
}

.start-screen__header {
    width: 310px;
    margin-bottom: 40px;
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 44px;
    line-height: 130%;

}

.start-screen__subheader {
    margin-bottom: 42px;
    font-family: 'Arial', 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.start-screen__btn {
    width: 208px;
    height: 52px;

    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

/* Start screen ends */

/* About starts */

.about__content {
    margin: calc(50% - 1050px/2 - 10px) auto 89px auto;

    display: grid;
    grid-template-columns: 477px 544px;
    grid-column-gap: 118px;
}

.about__pic {
    padding-top: 14px;
    justify-self: right;
}

.about__desc {
    max-width: 430px;
    font-family: 'Arial', 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.about__header {
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 370px;
    margin-bottom: 25px;
}

.about__desc p {
    margin-bottom: 25px;
}

/* About ends */

/* Pets starts */

.pets {
    background: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;
}

.pets__header {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 58px;
}

.pets-scroller {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    gap: 53px;
}

.arrow-elips {
    padding: 21px 17px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: inherit;
}

.arrow-elips-link:hover, .arrow-elips-link:focus, .arrow-elips-link:active {
    opacity: 0.75;
}

.arrow-ico {
    display: block;
}

.arrow-elips:last-of-type .arrow-ico {
    transform: rotate(-180deg);
}

.pets__pet-list {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-column-gap: 90px;
}

.pet-card {
    box-sizing: border-box;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    margin: 0;
}

.pet-card-img {
    border-radius: 9px 9px 0px 0px;
    margin-bottom: 29px;
}

.pet-card-desc {
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;

    margin-bottom: 30px;
}

.pet-card-btn {
    width: 187px;
    height: 52px;
    padding: 14px 30px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin: 30px 0;
    background: inherit;
}

.pet-card-btn-link {
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.pets__btn {
    display: block;
    margin: 0 auto;
}

.pets__btn-link {
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

/* Pets ends */

/* Help starts */

.help {
    padding-top: 80px;
    padding-bottom: 100px;
}


.help__header {
    max-width: 312px;
    margin: 0 auto;
    margin-bottom: 58px;
}

.help__needs-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    column-gap: 120px;
    row-gap: 56px;
}

.help__need-item {
    margin: 0;
    text-align: center;
}

.help__need-item img {
    margin-bottom: 30px;
}

.help__need-item-desc {
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

/* Help ends */


/* Donation starts */

.donation {
    background: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;
}

.donation__container {
    display: grid;
    grid-template-columns: 505px 364px;
    grid-column-gap: 30px;
    max-width: 912px;
    margin: 0 auto;
}

.donation__pic {
    margin-top: 10px;
}

.donation__header {
    text-align: left;
    max-width: 300px;
    margin: 0;
    margin-bottom: -6px;
}

.donation__subheader {
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
}

.donation__credit-card {
    padding: 10px 14px;
    background: #F1CDB3;
    border-radius: 9px;
    margin-bottom: 20px;
    margin-right: 16px;
}

.donation__credit-card-link {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 15px;
    color: #545454;
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.donation__description {
    font-family: 'Arial', 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
}

/* Donation ends  */