/* Header starts */

.header {
    margin-bottom: -132px;
    background: transparent;
}

.header__content {
    margin-top: 60px;
}

.header__logo-title {
    color: var(--theme-accent);
}

.header__logo-subtitle {
    color: var(--dark-theme-text-color);
}

.nav__link:hover, .nav__link:active {
    color: #FAFAFA;
}

/* Header ends */

/* Start screen starts */
.start-screen {
    padding-top: 192px;
    background: url(../../assets/images/start-screen-gradient-background.png),
        radial-gradient(00% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) ,
        #211F20;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, bottom;
    color: var(--dark-theme-text-color);
}

.start-screen .wrapper {
    display: flex;
    justify-content: center;
    gap: 42px;
}

.start-screen__content {
    display: inline-block;
    max-width: 460px;
    padding-top: 127px;
}

.start-screen__header {
    width: 310px;
    margin-bottom: 40px;
    font-size: 44px;
    line-height: 130%;

}

.start-screen__subheader {
    margin-bottom: 42px;
    font-family: 'Arial', 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 160%;
    color: var(--disabled-color);
}

.start-screen__link {
    font-family: 'Georgia', 'Roboto Serif', serif;
    letter-spacing: 0.06em;
    color: var(--link-text-color);

    padding: 18px 48px;
}

/* Start screen ends */

/* About starts */

.about__content {
    margin: calc(50% - 1050px/2 - 10px) auto 89px auto;

    display: grid;
    grid-template-columns: 475px 544px;
    grid-column-gap: 120px;
}

.about__pic {
    padding-top: 14px;
    justify-self: right;
}

.about__desc {
    max-width: 430px;
    font-family: 'Arial', 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.about__header {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 370px;
    margin-bottom: 24px;
}

.about__desc p {
    margin-bottom: 25px;
}

/* About ends */

/* Pets starts */

.pets__header {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 58px;
}

.pets-scroller {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    gap: 53px;
}

.arrow-elips {
    padding: 21px 17px;
    border: 2px solid var(--theme-accent);
    border-radius: 100px;
    background: inherit;
}

.arrow-ico {
    display: block;
}

.arrow-elips:last-of-type .arrow-ico {
    transform: rotate(-180deg);
}

.pets__pet-list {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-column-gap: 90px;
}

.pet-card-link {
    height: 16px;}

.pets__link {
    display: block;
    width: 175px;
    margin: 0 auto;

    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--link-text-color);

    padding: 17px 40px 14px 48px;
}

/* Pets ends */

/* Help starts */

.help {
    padding-top: 80px;
    padding-bottom: 100px;
}


.help__header {
    max-width: 312px;
    margin: 0 auto;
    margin-bottom: 58px;
}

.help__needs-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    column-gap: 120px;
    row-gap: 56px;
}

.help__need-item {
    margin: 0;
    text-align: center;
}

.help__need-item img {
    margin-bottom: 30px;
}

.help__need-item-desc {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

/* Help ends */


/* Donation starts */

.donation {
    background: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;
}

.donation__container {
    display: grid;
    grid-template-columns: 505px 364px;
    grid-column-gap: 30px;
    max-width: 912px;
    margin: 0 auto;
}

.donation__pic {
    margin-top: 10px;
}

.donation__header {
    text-align: left;
    max-width: 300px;
    margin: 0;
    margin-bottom: -6px;
}

.donation__subheader {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: -0.1px;
    margin-bottom: 20px;
}

.donation__credit-card-link {
    padding: 10px 14px;
    background: var(--theme-accent);
    border-radius: 9px;
    margin-bottom: 20px;
    margin-right: 16px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 15px;
    color: var(--light-theme-text-color);
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.donation__description {
    font-family: 'Arial', 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
}

/* Donation ends  */

/* Footer starts  */

.footer__content div:first-of-type .footer__header {
    margin-bottom: 38px;
}

.footer__content div:nth-of-type(2) .footer__header {
    margin-bottom: 32px;
}

.footer__content div:first-of-type .footer__line {
    grid-template-columns: 40px 1fr;
    margin-bottom: 40px;
}

.footer__content div:nth-of-type(2) .footer__line {
    grid-template-columns: 22px 1fr;
    margin-bottom: 32px;
}

/* Footer ends  */