/* Header starts */

.header__content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.header__logo-title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.header__logo-subtitle {
    padding-left: 4px;
    font-family: 'Arial', 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #545454;
}

.header__nav {
    margin-right: 2px;
    margin-bottom: 4px;
}


.header__nav-items {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__link {
    font-family: 'Arial', 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #545454;
}

.nav__link_active {
    color: #545454;
    border-bottom: 3px solid #F1CDB3;
}

.nav__link:hover, .nav__link:active {
    border-bottom: 0;
    color: #292929;
}

/* Header ends */

/* Own pets starts */
.our-pets {
    padding-top: 80px;
    padding-bottom: 100px;
    background: #F6F6F6;
}

.pets__header {
    margin: 0;
    margin-bottom: 58px;
}

.pets__pet-list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    margin-bottom: 60px;
}

.pet-card {
    box-sizing: border-box;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    margin: 0;
}

.pet-card:hover {
    cursor: pointer;
    background: white;
}

.pet-card:hover .pet-card-link {
    background-color: #FDDCC4;
}

.pet-card-img {
    border-radius: 9px 9px 0px 0px;
    margin-bottom: 25px;
}

.pet-card-desc {
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;

    margin-bottom: 30px;
}

.pet-card-link {
    width: 122px;
    padding: 13px 30px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin: 30px 0;
    background: inherit;

    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.pets__pagination {
    display: flex;
    justify-content: center;
    column-gap: 22px;
}

.button-paginator {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: transparent;
    box-sizing: content-box;
    padding: 12px;
    width: 22px;
}

.button-paginator[disabled] {
    font-family: 'Georgia', 'Roboto Serif', serif;;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
}

.button-paginator[disabled] {
    color: #CDCDCD;
}

.pets__pagination .active {
    background: #F1CDB3;
    text-align: center;
    color: #292929;
}

/* Own pets ends */

/* Footer starts  */

.footer {
    padding-top: 22px;
    background: url(../../assets/images/start-screen-gradient-background.png),
        radial-gradient(00% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) ,
        #211F20;
    background-repeat: repeat, no-repeat, no-repeat;
    background-position: center, center, center;

    color: #F1CDB3;

    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.footer__content {
    display: grid;
    grid-template-columns: 280px 302px  302px;
    grid-column-gap: 158px;
}

.footer__header {
    color: #FFFFFF;
    text-align: left;
}

.footer__content div:first-of-type .footer__header {
    margin-bottom: 34px;
}

.footer__content div:nth-of-type(2) .footer__header {
    margin-bottom: 30px;
}

.footer__line {
    display: grid;
    grid-gap: 20px;
    align-items: center;
}

.footer__content div:first-of-type .footer__line {
    grid-template-columns: 40px 1fr;
    margin-bottom: 32px;
}

.footer__content div:nth-of-type(2) .footer__line {
    grid-template-columns: 22px 1fr;
    margin-bottom: 30px;
}

.footer__ico {
    padding-top: 3px;
}

.footer__img {
    margin-top: 18px;
}

/* Footer ends  */