/* Header starts */

.header__content {
    margin: 30px 0;
}

.header__logo-title, .header__logo-subtitle, .nav__link {
    color: var(--light-theme-text-color);
}

.nav__link:hover, .nav__link:active {
    color: var(--link-text-color);
}

/* Header ends */

/* Own pets starts */
.pets__header {
    margin: 0;
    margin-bottom: 58px;
}

.pets__pet-list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    margin-bottom: 60px;
}

.pets__pagination {
    display: flex;
    justify-content: center;
    column-gap: 22px;
}

.button-paginator {
    border: 2px solid var(--theme-accent);
    border-radius: 100px;
    background: transparent;
    box-sizing: content-box;
    padding: 12px;
    width: 22px;
}

.button-paginator[disabled] {
    font-family: 'Georgia', 'Roboto Serif', serif;;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    color: var(--disabled-color);
    border: 2px solid var(--disabled-color);
}

.button-paginator[disabled] {
    color: var(--disabled-color);
}

.pets__pagination .active {
    background: var(--theme-accent);
    text-align: center;
    color: var(--link-text-color);
}

/* Own pets ends */

/* Footer starts  */

.footer__content div:first-of-type .footer__header {
    margin-bottom: 34px;
}

.footer__content div:nth-of-type(2) .footer__header {
    margin-bottom: 30px;
}

.footer__content div:first-of-type .footer__line {
    grid-template-columns: 40px 1fr;
    margin-bottom: 32px;
}

.footer__content div:nth-of-type(2) .footer__line {
    grid-template-columns: 22px 1fr;
    margin-bottom: 30px;
}

.footer__ico {
    padding-top: 3px;
}

/* Footer ends  */