:root {
    --light-theme-text-color: #545454;
    --lighter-theme-text-color: #4C4C4C;
    --dark-theme-text-color: #FFFFFF;
    --disabled-color: #CDCDCD;
    --link-text-color: #292929;
    --theme-accent: #F1CDB3;
    --theme-accent-lighter: #FDDCC4;
}


body {
    max-width: 1280px;
    margin: 0 auto;
    color: var(--light-theme-text-color);
}

div, h1, h2, h3, h4, p {
    font-style: normal;
    font-weight: 400;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

button, .button {
    padding: 16px 44px;
    background: var(--theme-accent);
    border: 0;
    border-radius: 100px;
    cursor: pointer;
}

button:not([disabled]):hover {
    background-color: var(--theme-accent-lighter);
}

a {
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 17px;
    line-height: 130%;
    color: inherit;

    display: inline-block;
    text-decoration: none;
	font: inherit;
}

h1, h2, h3, h4, h5 {
    font-family: 'Georgia', 'Roboto Serif', serif;
}

h1 {
    font-size: 32px;
}

h3 {
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
}

figcaption {
    font-family: 'Georgia', 'Roboto Serif', serif;
}

/* Header start */

.header__content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}


.header__logo-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
}

.header__logo-subtitle {
    padding-left: 4px;
    font-family: 'Arial', 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
}

.header__nav {
    margin-right: 2px;
    margin-bottom: 4px;
}

.header__nav-items {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__link {
    font-family: 'Arial', 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: var(--disabled-color);
}

.nav__link_active {
    color: #FAFAFA;
    border-bottom: 3px solid var(--theme-accent);
}

.nav__link:hover, .nav__link:active {
    border-bottom: 0;
}

/* Header end */

/* Pets start */
.pets {
    padding-top: 80px;
    padding-bottom: 100px;
    background: #F6F6F6;
}

.pet-card {
    box-sizing: border-box;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    margin: 0;
}

.pet-card:hover {
    cursor: pointer;
    background: #FFFFFF;
}

.pet-card:hover .pet-card-link {
    background-color: var(--theme-accent-lighter);
}

.pet-card-img {
    border-radius: 9px 9px 0px 0px;
    margin-bottom: 30px;
}

.pet-card-desc {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;

    margin-bottom: 30px;
}

.pet-card-link {
    width: 122px;
    padding: 16px 30px;
    border: 2px solid var(--theme-accent);
    border-radius: 100px;
    margin: 30px 0;
    background: inherit;

    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--link-text-color);
}
/* Pets end */

/* Footer start */

.footer {
    padding-top: 22px;
    background: url(../../assets/images/start-screen-gradient-background.png),
        radial-gradient(00% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) ,
        #211F20;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top, top, top;

    color: var(--theme-accent);

    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__content div {
    max-width: 300px;
}

.footer__content div:nth-of-type(2) {
    padding-right: 25px;
}

.footer__header {
    color: var(--dark-theme-text-color);
    text-align: left;
}

.footer__line {
    display: grid;
    grid-gap: 20px;
    align-items: center;
}

.footer__img {
    margin-top: 18px;
}

/* Footer end */



@media (max-width: 768px) {
    .wrapper {
        margin: 0 30px;
    }

    .header__content {
        margin-top: 30px !important;
    }

    .start-screen {
        padding-top: 27px !important;
    }

    .start-screen .wrapper {
        gap: 102px !important;
        justify-content: flex-end;
    }

    .start-screen__content {
        margin: 0 auto;
    }

    .start-screen__link {
        align-self: center;
    }

    .start-screen .wrapper div:last-of-type {
        margin-left: 15px;
    }

    .start-screen__img_container {
        max-height: 593px !important;
    }

    .start-screen__img {
        width: 569px;
        height: 593px;
    }


    .about .wrapper {
        max-width: 432px;
        margin: 0 auto;
    }

    .about__content {
        padding-top: 52px !important;
        padding-bottom: 100px !important;

        grid-template-columns: 1fr !important;
        row-gap: 40px;
    }

    .about__pic {
        grid-row: 2;
        justify-self: center !important;
    }

    .about__desc {
        grid-row: 1;
    }


    .pets__scroller {
        flex-wrap: nowrap !important;
        justify-content: space-between !important;
        gap: 12px !important;
    }

    .pets__pet-list {
        gap: 40px !important;
        overflow: hidden;
    }


    .donation {
        padding-top: 76px !important;
    }

    .donation__container {
        flex-direction: column-reverse;
        max-width: 510px !important;
        gap: 50px !important
    }

    .donation__content {
        padding: 0 64px;
    }


    .footer {
        padding-top: 0;
    }

    .footer__content {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 2px;
        column-gap: 40px;
    }

    .footer__content div:first-of-type {
        padding-left: 22px;
    }

    .footer__header {
        line-height: 134%;
    }
}